@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&display=swap");
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, input:focus, button {
  border: none;
  outline: none;
}

html {
  font-family: "Kumbh Sans", sans-serif;
  background-color: #FAFAFA;
}

::placeholder {
  color: #BABDCA;
}

.heading-1 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
}

.heading-2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.heading-3 {
  font-size: 16px;
  line-height: 48px;
  text-transform: uppercase;
  font-weight: 700;
}

.body-1 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.body-2 {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.btn {
  padding: 16px 32px;
  border-radius: 28px;
  font-size: 16px;
  font-weight: 700;
}
.btn:hover {
  cursor: pointer;
}
.btn--primary {
  background-color: #5175FF;
  color: #FFFFFF;
}
.btn--primary:hover {
  background-color: #829CFF;
}
.btn--secondary {
  background-color: #E4EAFF;
  color: #5175FF;
}
.btn--secondary:hover {
  background-color: #D3DDFF;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  border-radius: 13px;
  box-shadow: 0 50px 50px -25px rgba(75, 92, 154, 0.25);
  background-color: #FFFFFF;
  color: #333950;
}

.countdown {
  width: 328px;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
}
.countdown .title {
  letter-spacing: 5px;
  margin-bottom: 18px;
}
.countdown .title span {
  color: #5175FF;
}
.countdown .timer {
  display: flex;
  justify-content: space-between;
}
.countdown .timer .item {
  background-color: #333950;
  padding: 16px;
  border-radius: 5px;
}
.countdown .timer .item .number {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}
.countdown .timer .item .description {
  font-size: 12px;
  font-weight: 700;
  color: #747B95;
}

header {
  padding: 46px 23px 0 23px;
  margin-bottom: 100px;
  background-image: url(../assets/home/bg-pattern-header.svg);
  background-size: 458px;
  background-repeat: no-repeat;
  background-position: center -170px;
}
header .logo {
  text-align: center;
  margin-bottom: 80px;
}
header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .container .illustration {
  width: 171px;
  margin-bottom: 63px;
}
header .container .illustration img {
  max-width: 100%;
}
header .container .announcement {
  text-align: center;
}
header .container .announcement .headline {
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  margin-bottom: 23px;
  color: #333950;
}
header .container .announcement .summary {
  font-size: 16px;
  line-height: 26px;
  padding: 5px;
  margin-bottom: 23px;
  color: #747B95;
}
header .container .announcement .call-to-action {
  line-height: 28px;
  padding: 14px 40px;
  box-shadow: 0 25px 25px -10px rgba(81, 117, 255, 0.25);
}

@media (min-width: 768px) {
  header {
    padding: 72px 39px 0 39px;
    background-size: 666px;
    background-position: 395px -164px;
  }
  header .logo {
    margin-bottom: 104px;
    text-align: start;
  }
  header .container {
    flex-direction: row-reverse;
  }
  header .container .announcement {
    flex-basis: 345px;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 63px;
    text-align: start;
  }
  header .container .announcement .headline {
    margin-bottom: 24px;
  }
  header .container .announcement .summary {
    padding: 0 0 0 5px;
    margin-bottom: 24px;
  }
  header .container .illustration {
    flex-basis: 281px;
    flex-grow: 1;
    flex-shrink: 0;
    margin-bottom: 0;
  }
}
main {
  padding: 23px;
}

#plans .plan {
  margin-bottom: 32px;
  position: relative;
}
#plans .plan:last-child {
  margin-bottom: 0;
}
#plans .plan:nth-child(2) {
  background-color: #5175FF;
  background-image: url(../assets/home/bg-pattern-pricing.svg);
  background-repeat: no-repeat;
  background-position: 50% 102%;
  color: #FFFFFF;
}
#plans .plan:nth-child(2) .features {
  color: #FFFFFF;
}
#plans .plan .title {
  margin-bottom: 40px;
}
#plans .plan .price {
  margin-bottom: 56px;
}
#plans .plan .price .title {
  margin-bottom: 8px;
}
#plans .plan .features {
  margin-bottom: 32px;
  color: #747B95;
}
#plans .plan .features .feature {
  margin-bottom: 24px;
}
#plans .plan .features .feature:last-child {
  margin-bottom: 0;
}
#plans .plan .call-to-action {
  width: 171px;
  margin: 0 auto;
}

footer {
  height: 1248px;
  margin-top: -775px;
  background-color: #25293A;
  background-image: url(../assets/home/bg-pattern-footer.svg);
  background-repeat: no-repeat;
  background-size: 1202px 1202px;
  background-position: 50% 140px;
  text-align: center;
}
footer .countdown {
  padding-top: 894px;
  margin-bottom: 40px;
}

/*# sourceMappingURL=home.css.map */
