@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&display=swap");
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, input:focus, button {
  border: none;
  outline: none;
}

html {
  font-family: "Kumbh Sans", sans-serif;
  background-color: #FAFAFA;
}

::placeholder {
  color: #BABDCA;
}

.heading-1 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
}

.heading-2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.heading-3 {
  font-size: 16px;
  line-height: 48px;
  text-transform: uppercase;
  font-weight: 700;
}

.body-1 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.body-2 {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.btn {
  padding: 14px 41px;
  border-radius: 28px;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
}
.btn:hover {
  cursor: pointer;
}
.btn--primary {
  background-color: #5175FF;
  color: #FFFFFF;
}
.btn--primary:hover {
  background-color: #829CFF;
}
.btn--secondary {
  background-color: #E4EAFF;
  color: #5175FF;
}
.btn--secondary:hover {
  background-color: #D3DDFF;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  border-radius: 13px;
  box-shadow: 0 50px 50px -25px rgba(75, 92, 154, 0.25);
  background-color: #FFFFFF;
  color: #333950;
}

.countdown {
  width: 328px;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
}
.countdown .title {
  letter-spacing: 5px;
  margin-bottom: 18px;
}
.countdown .title span {
  color: #5175FF;
}
.countdown .timer {
  display: flex;
}
.countdown .timer .item {
  width: 72px;
  height: 92px;
  margin-right: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333950;
  border-radius: 5px;
}
.countdown .timer .item:last-child {
  margin-right: 0;
}
.countdown .timer .item .number {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}
.countdown .timer .item .description {
  font-size: 12px;
  font-weight: 700;
  color: #747B95;
}

@media (min-width: 768px) {
  .countdown {
    width: 448px;
  }
  .countdown .title {
    margin-bottom: 8px;
  }
  .countdown .timer .item {
    width: 100px;
    height: 128px;
  }
  .countdown .timer .item .number {
    font-size: 56px;
    line-height: 48px;
    margin-bottom: 5px;
  }
  .countdown .timer .item .description {
    font-size: 16px;
    line-height: 28px;
  }
}
header {
  height: 288px;
  background-image: url(../assets/home/bg-pattern-header.svg);
  background-repeat: no-repeat;
  background-size: 458px;
  background-position: center -170px;
  text-align: center;
}
header .logo {
  display: inline-block;
  margin-top: 46px;
}

@media (min-width: 768px) {
  header {
    height: auto;
    background-image: none;
    margin-bottom: 104px;
    text-align: start;
  }
  header .logo {
    margin-top: 72px;
    margin-left: 39px;
    text-align: start;
  }
}
@media (min-width: 1440px) {
  header {
    margin-bottom: 154px;
  }
  header .logo {
    margin-top: 81px;
    margin-left: 165px;
  }
}
main {
  display: flex;
  flex-direction: column;
  margin-top: -132px;
  padding: 0 24px;
}
main .info {
  text-align: center;
  margin-bottom: 64px;
}
main .info .headline {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #333950;
  margin-bottom: 16px;
}
main .info .summary {
  color: #747B95;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 64px;
}
main .info .countdown {
  color: #333950;
}
main .info .countdown .timer .item {
  background-color: #E4EAFF;
}
main .info .countdown .timer .item .number {
  color: #5175FF;
}
main .form {
  position: relative;
  padding: 24px;
}
main .form .item {
  position: relative;
  display: flex;
  padding: 0 16px 16px 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid #BABDCA;
}
main .form .item .error {
  display: none;
}
main .form .item input {
  width: 100%;
  font-size: 16px;
  color: #333950;
}
main .form .item.with-error {
  border-bottom-color: #F05B5B;
}
main .form .item.with-error .error {
  display: block;
  position: absolute;
  right: 0;
}
main .form .item.with-error input {
  padding-right: 16px;
  color: #F05B5B;
}
main .form .item.dropdown {
  position: relative;
  justify-content: space-between;
}
main .form .item.dropdown .name {
  color: #333950;
  font-size: 16px;
  font-weight: 700;
}
main .form .item.dropdown .name .price {
  color: #BABDCA;
  margin-left: 8px;
}
main .form .item.dropdown .options {
  display: none;
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 1;
  width: 100%;
  padding: 16px;
  border: 1px solid #BABDCA;
}
main .form .item.dropdown .options.active {
  display: block;
}
main .form .item.dropdown .options .item {
  justify-content: space-between;
  padding: 0 0 16px 0;
  margin: 0 0 16px 0;
}
main .form .item.dropdown .options .item:last-child {
  padding: 0;
  margin: 0;
  border: 0;
}
main .form .item.dropdown .options .item.selected .icon {
  display: block;
}
main .form .item.dropdown .options .item .icon {
  display: none;
}
main .form .item.dropdown:hover {
  cursor: pointer;
}
main .form .item:last-of-type {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  main {
    margin-top: 0;
  }
  main .info {
    margin-bottom: 104px;
  }
  main .info .headline {
    margin-bottom: 24px;
  }
  main .info .summary {
    width: 571px;
    margin: 0 auto 40px auto;
  }
  main .form {
    width: 445px;
    margin: 0 auto;
    padding: 40px;
  }
}
@media (min-width: 1440px) {
  main {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 165px;
  }
  main .info {
    text-align: start;
    width: 540px;
    margin-bottom: 0;
  }
  main .info .headline {
    font-size: 56px;
    line-height: 64px;
  }
  main .info .summary {
    font-size: 18px;
    line-height: 28px;
    max-width: 100%;
  }
  main .info .countdown {
    margin: 0;
  }
  main .info .countdown .title {
    text-align: start;
  }
  main .form {
    margin: 0;
  }
}
footer {
  height: 320px;
  margin-top: -233px;
  background-color: #25293A;
  background-image: url(../assets/sign-up/bg-pattern-side.svg);
  background-position: center;
}

/*# sourceMappingURL=signup.css.map */
