@import 'global';

header {
    padding: 46px 23px 0 23px;
    margin-bottom: 100px;
    background-image: url(../assets/home/bg-pattern-header.svg);
    background-size: 458px;
    background-repeat: no-repeat;
    background-position: center -170px;
    .logo {
        text-align: center;
        margin-bottom: 80px;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .illustration {
            width: 171px;
            margin-bottom: 63px;
            img {
                max-width: 100%;
            }
        }
        .announcement {
            text-align: center;
            .headline {
                font-size: 40px;
                font-weight: bold;
                line-height: 48px;
                margin-bottom: 23px;
                color: $color--black-2;
            }
            .summary {
                font-size: 16px;
                line-height: 26px;
                padding: 5px;
                margin-bottom: 23px;
                color: $color--gray-1;
            }
            .call-to-action {
                line-height: 28px;
                padding: 14px 40px;
                box-shadow: 0 25px 25px -10px rgba(81, 117, 255, 0.25);
            }
        }
    }
}

@media (min-width: 768px) {
    header {
        padding: 72px 39px 0 39px;
        background-size: 666px;
        background-position: 395px -164px;
        .logo {
            margin-bottom: 104px;
            text-align: start;
        }
        .container {
            flex-direction: row-reverse;
            .announcement {
                flex-basis: 345px;
                flex-grow: 1;
                flex-shrink: 0;
                margin-right: 63px;
                text-align: start;
                .headline {
                    margin-bottom: 24px;
                }
                .summary {
                    padding: 0 0 0 5px;
                    margin-bottom: 24px;
                }
            }
            .illustration {
                flex-basis: 281px;
                flex-grow: 1;
                flex-shrink: 0;
                margin-bottom: 0;
            }
        }
    }
}

main {
    padding: 23px;
}

#plans {
    .plan {
        margin-bottom: 32px;
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }
        &:nth-child(2) {
            background-color: $color--blue-1;
            background-image: url(../assets/home/bg-pattern-pricing.svg);
            background-repeat: no-repeat;
            background-position: 50% 102%;
            color: $color--white-2;
            .features {
                color: $color--white-2;
            }
        }
        .title {
            margin-bottom: 40px;
        }
        .price {
            margin-bottom: 56px;
            .title {
                margin-bottom: 8px;
            }
        }
        .features {
            margin-bottom: 32px;
            color: $color--gray-1;
            .feature {
                margin-bottom: 24px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .call-to-action {
            width: 171px;
            margin: 0 auto;
        }
    }
}

footer {
    height: 1248px;
    margin-top: -775px;
    background-color: #25293A;
    background-image: url(../assets/home/bg-pattern-footer.svg);
    background-repeat: no-repeat;
    background-size: 1202px 1202px;
    background-position: 50% 140px;
    text-align: center;
    .countdown {
        padding-top: 894px;
        margin-bottom: 40px;
    }
}
