@import 'common';

header {
    height: 355px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../assets/home/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-size: 458px 458px;
    background-position: -45px -165px;
    img {
        max-width: 100%;
    }
    #logo {
        margin-top: 46px;
    }
    #illustration-charts {
        width: 171px;
        height: 192px;
    }
}

main {
    padding: 23px;
}

#intro {
    text-align: center;
    margin-bottom: 100px;
    h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        color: $color--black-1;
        margin-bottom: 23px;
    }
    p {
        color: $color--gray;
        padding: 5px;
        margin-bottom: 23px;
    }
    button {
        box-shadow: 0 25px 25px -10px rgba(81, 117, 255, 0.25);
    }
}

#plans {
    > article {
        margin-bottom: 32px;
        &:last-child {
            margin-bottom: 0;
        }
        &:nth-child(2) {
            background-color: $color--blue-1;
            background-image: url(../assets/home/bg-pattern-pricing.svg);
            background-repeat: no-repeat;
            background-position: 50% 102%;
            color: $color--white-2;
            .plan-features {
                color: $color--white-2;
            }
        }
    }
    .plan-title {
        margin-bottom: 40px;
    }
    .plan-price {
        margin-bottom: 56px;
        .heading-1 {
            margin-bottom: 8px;
        }
    }
    .plan-features {
        margin-bottom: 32px;
        color: $color--gray;
        li {
            margin-bottom: 24px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
