@import 'global';

header {
    height: 355px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../assets/home/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-size: 458px;
    background-position: center -165px;
    img {
        max-width: 100%;
    }
    #logo {
        margin-top: 46px;
    }
}

main {
    text-align: center;
    margin-top: -200px;
    padding: 0 24px;
    .headline {
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        color: $color--black-1;
        margin-bottom: 23px;
    }
    .summary {
        color: $color--gray-1;
        padding: 5px;
        margin-bottom: 64px;
    }
    .countdown {
        color: $color--black-2;
        margin-bottom: 64px;
        .timer .item {
            background-color: $color--blue-4;
            .number {
                color: $color--blue-1;
            }
        }
    }
    .form {
        position: relative;
        padding: 24px;
        .item {
            position: relative;
            display: flex;
            padding: 0 16px 16px 16px;
            margin-bottom: 24px;
            border-bottom: 1px solid $color--gray-2;
            .error {
                display: none;
            }
            input {
                width: 100%;
                font-size: 16px;
                color: $color--black-2;
            }
            &.with-error {
                border-bottom-color: $color--red;
                .error {
                    display: block;
                    position: absolute;
                    right: 0;
                }
                input {
                    padding-right: 16px;
                    color: $color--red;
                }
            }
            &.dropdown {
                position: relative;
                justify-content: space-between;
                .name {
                    color: $color--black-2;
                    font-size: 16px;
                    font-weight: 700;
                    .price {
                        color: $color--gray-2;
                        margin-left: 8px;
                    }
                }
                .options {
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 40px;
                    z-index: 1;
                    width: 100%;
                    padding: 16px;
                    border: 1px solid $color--gray-2;
                    &.active {
                        display: block;
                    }
                    .item {
                        justify-content: space-between;
                        padding: 0 0 16px 0;
                        margin: 0 0 16px 0;
                        &:last-child {
                            padding: 0;
                            margin: 0;
                            border: 0;
                        }
                        &.selected .icon {
                            display: block;
                        }
                        .icon {
                            display: none;
                        }
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
            &:last-of-type {
                margin-bottom: 40px;
            }
        }
    }
}

footer {
    height: 320px;
    margin-top: -233px;
    background-color: #25293A;
    background-image: url(../assets/sign-up/bg-pattern-side.svg);
    background-position: center;
}
