$color--blue-1: #5175FF;
$color--blue-2: #829CFF;
$color--blue-3: #D3DDFF;
$color--blue-4: #E4EAFF;
$color--black-1: #25293A;
$color--black-2: #333950;
$color--gray: #747B95;
$color--red: #F05B5B;
$color--white-1: #FAFAFA;
$color--white-2: #FFFFFF;
